<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- INTERNAL ENVIRONMENT -->
    <!---->
    <add key="ESN.AutoUpdateLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WPF\Logs\AutoUpdateLog.txt"/>

    <!-- DEV ENVIRONMENT -->
    <!--
    <add key="ESN.AutoUpdateLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WPF\Logs\AutoUpdateLog.txt"/>
    -->
    <!-- TEST ENVIRONMENT -->
    <!--
    <add key="ESN.AutoUpdateLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WPF\Logs\AutoUpdateLog.txt"/>
    -->
    <!-- PRODUCTION ENVIRONMENT -->
    <!--
    <add key="ESN.AutoUpdateLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WPF\Logs\AutoUpdateLog.txt"/>
    -->
  </appSettings>
</configuration>