<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!-- INTERNAL ENVIRONMENT -->
    <!---->
    <add name="MyDbContext2" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=DEV_Monitoring;User ID=sa;PWD=password;;Application Name=MyApp" />
    <add name="MyDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=10.239.37.115;Initial Catalog=service_kiosk;User ID=kioskadmin;PWD=1234;;Application Name=MyApp" />
    <!-- DEV ENVIRONMENT -->
    <!--
    <add name="MyDbContext" providerName="System.Data.SqlClient" connectionString="Data Source==10.239.37.155;Initial Catalog=service_kiosk;User ID=kioskadmin;PWD=1234;;Application Name=MyApp" />
    -->
    <!-- TEST ENVIRONMENT -->
    <!--
    <add name="MyDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=10.252.164.76;Initial Catalog=service_kiosk;User ID=kioskadmin;PWD=1234;;Application Name=MyApp" />
    -->
    <!-- PRODUCTION ENVIRONMENT -->
    <!--
    <add name="MyDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=10.13.178.47;Initial Catalog=DEV_Monitoring;User ID=sa;PWD=password;;Application Name=MyApp" />
    -->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- INTERNAL ENVIRONMENT -->
    <!---->
    <add key="WEB_MONITORING_ENGINE_URL2" value="https://esn-nb01/RMS.Centralize.WebService/WebEngineService.svc/StartMonitoringEngine" />
    <add key="WEB_MONITORING_ENGINE_URL" value="https://win-utqdntsbmhj/RMS.Centralize.WebService/WebEngineService.svc/StartMonitoringEngine" />
    <!-- DEV ENVIRONMENT -->
    <!--
    <add key="WEB_MONITORING_ENGINE_URL" value="https://win-utqdntsbmhj/RMS.Centralize.WebService/WebEngineService.svc/StartMonitoringEngine" />
    -->
    <!-- TEST ENVIRONMENT -->
    <!--
    <add key="WEB_MONITORING_ENGINE_URL" value="https://test-sksgw.ais.co.th/RMS.Centralize.WebService/WebEngineService.svc/StartMonitoringEngine" />
    -->
    <!-- PRODUCTION ENVIRONMENT -->
    <!--
    <add key="WEB_MONITORING_ENGINE_URL" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/WebEngineService.svc/StartMonitoringEngine" />
    -->
  </appSettings>
</configuration>