<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MyDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=DEV_Monitoring;User ID=sa;PWD=password;;Application Name=MyApp" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMonitoringService" />
        <binding name="BasicHttpsBinding_IMonitoringService">
          <security mode="Transport" />
        </binding>
        <binding name="MobileMKTAdaptorSoap" >
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IClientService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMonitoringService"
          contract="MonitoringService.IMonitoringService" name="BasicHttpsBinding_IMonitoringService" />
      <endpoint address="http://localhost/MMUI/SOAP" binding="basicHttpBinding"
          bindingConfiguration="MobileMKTAdaptorSoap" contract="MobileMKTAdaptorSoap" name="NewPort" />
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IClientService"
          contract="ClientProxy.IClientService" name="BasicHttpsBinding_IClientService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <appSettings>

    <add key="SKAdapter.SMSGW.URL" value="http://10.217.83.125:2288" />
    <add key="SKAdapter.SMSGW.CODE" value="CALLBACK" />
    <add key="SKAdapter.SMSGW.ServiceTimeoutMilliseconds" value="10000" />
    <add key="SKAdapter.SMSGW.Sender" value="SKS" />
    <add key="SKAdapter.SMSGW.TestReceiver" value="0860506900" />

    <add key="SKAdapter.Email.Server" value="10.252.160.41" />
    <add key="SKAdapter.Email.Port" value="25" />
    <add key="SKAdapter.Email.SSL" value="False" />
    <add key="SKAdapter.Email.FromAddress" value="sks@corp.ais900dev.org" />
    <add key="SKAdapter.Email.FromName" value="AIS Service Kiosk System" />
    <add key="SKAdapter.Email.ServiceTimeoutMilliseconds" value="10000" />
    <add key="SKAdapter.Email.TestReceiver" value="satht471@corp.ais900dev.org" />

    <add key="ESN.SMTP.Server" value="smtp.ktbcs.co.th" />
    <add key="ESN.SMTP.Port" value="25" />
    <add key="ESN.SMTP.From" value="ktbcs.test@ktbcs.co.th" />
    <add key="ESN.SMTP.EnableSSL" value="false" />
    <add key="ESN.SMTP.EnableCredentials" value="true" />
    <add key="ESN.SMTP.Username" value="ktbcs.test@ktbcs.co.th" />
    <add key="ESN.SMTP.Password" value="Youkajima$123" />


    <add key="RMS.KTB.SMS.ChannelID" value="49" />
    <add key="RMS.KTB.SMS.ReferenceNo" value="12345" />
    <add key="RMS.KTB.SMS.From" value="" />
    <add key="RMS.KTB.SMS.Sender" value="KTB" />
    <add key="RMS.KTB.SMS.WebServicURL" value="https://10.2.92.223/MMUI/SOAP/" />

    <add key="RMS.WebServicURL_ClientService" value="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc"/>
    <add key="RMS.MessageStorageFolder" value="D:\Project\ESN\01 Remote Monitoring System\RMS\MessageStorage\"/>


  </appSettings>

</configuration>