<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpsBinding_IClientService">
            <security mode="Transport" />
          </binding>
          <binding name="BasicHttpsBinding_IMonitoringService">
            <security mode="Transport" />
          </binding>
          <binding name="BasicHttpBinding_IClientService" />
          <binding name="BasicHttpsBinding_IClientService1">
            <security mode="Transport" />
          </binding>
          <binding name="BasicHttpBinding_IMonitoringService" />
          <binding name="BasicHttpsBinding_IMonitoringService1">
            <security mode="Transport" />
          </binding>
          <binding name="BasicHttpBinding_IAutoUpdateService" />
          <binding name="BasicHttpsBinding_IAutoUpdateService">
            <security mode="Transport" />
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IClientService"
          contract="ClientProxy.IClientService" name="BasicHttpsBinding_IClientService" />
        <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMonitoringService"
          contract="MonitoringProxy.IMonitoringService" name="BasicHttpsBinding_IMonitoringService" />
        <endpoint address="http://esn-nb01/RMS.Centralize.WebService/ClientService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientService"
          contract="ClientProxy.IClientService" name="BasicHttpBinding_IClientService" />
        <endpoint address="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IClientService1"
          contract="ClientProxy.IClientService" name="BasicHttpsBinding_IClientService1" />
        <endpoint address="http://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonitoringService"
          contract="MonitoringProxy.IMonitoringService" name="BasicHttpBinding_IMonitoringService" />
        <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMonitoringService1"
          contract="MonitoringProxy.IMonitoringService" name="BasicHttpsBinding_IMonitoringService1" />
        <endpoint address="http://esn-nb01/RMS.Centralize.WebService/AutoUpdateService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutoUpdateService"
          contract="AutoUpdateProxy.IAutoUpdateService" name="BasicHttpBinding_IAutoUpdateService" />
        <endpoint address="https://esn-nb01/RMS.Centralize.WebService/AutoUpdateService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAutoUpdateService"
          contract="AutoUpdateProxy.IAutoUpdateService" name="BasicHttpsBinding_IAutoUpdateService" />
      </client>
    </system.serviceModel>
</configuration>