<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAgentService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAgentService" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAgentService">
          <reliableSession enabled="true" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/agent/basic" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAgentService" contract="AgentTCPProxy.IAgentService"
        name="BasicHttpBinding_IAgentService" />
      <endpoint address="http://localhost:8080/agent/wsAddress" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IAgentService" contract="AgentTCPProxy.IAgentService"
        name="WSHttpBinding_IAgentService">
        <identity>
          <userPrincipalName value="ESN-NB01\sethawat.th" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/AgentNetTcp" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IAgentService" contract="AgentTCPProxy.IAgentService"
        name="NetTcpBinding_IAgentService">
        <identity>
          <userPrincipalName value="ESN-NB01\sethawat.th" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>