<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IMonitoringService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IMonitoringService" />
                <binding name="BasicHttpsBinding_IMonitoringService1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMonitoringService"
                contract="MonitoringProxy.IMonitoringService" name="BasicHttpsBinding_IMonitoringService" />
            <endpoint address="http://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonitoringService"
                contract="MonitoringProxy.IMonitoringService" name="BasicHttpBinding_IMonitoringService" />
            <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMonitoringService1"
                contract="MonitoringProxy.IMonitoringService" name="BasicHttpsBinding_IMonitoringService1" />
        </client>
    </system.serviceModel>
</configuration>