<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="StateServer" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IActionProfileService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IMessageActionService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IClientService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IMonitoringService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_ISummaryReportService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_ISelfTestingService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_ILocationService"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IClientMonitoringService"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IMonitoringProfileService"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/ActionProfileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IActionProfileService" contract="ActionProfileProxy.IActionProfileService" name="BasicHttpsBinding_IActionProfileService" />
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MessageActionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMessageActionService" contract="MessageActionProxy.IMessageActionService" name="BasicHttpsBinding_IMessageActionService" />
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IClientService" contract="ClientProxy.IClientService" name="BasicHttpsBinding_IClientService" />
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMonitoringService" contract="MonitoringProxy.IMonitoringService" name="BasicHttpsBinding_IMonitoringService" />
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/SummaryReportService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ISummaryReportService" contract="SummaryReportProxy.ISummaryReportService" name="BasicHttpsBinding_ISummaryReportService" />
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/SelfTestingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ISelfTestingService" contract="SelfTestingProxy.ISelfTestingService" name="BasicHttpsBinding_ISelfTestingService" />
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/LocationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILocationService" contract="LocationProxy.ILocationService" name="BasicHttpsBinding_ILocationService" />
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/ClientMonitoringService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IClientMonitoringService" contract="ClientMonitoringProxy.IClientMonitoringService" name="BasicHttpsBinding_IClientMonitoringService" />
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MonitoringProfileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMonitoringProfileService" contract="MonitoringProfileProxy.IMonitoringProfileService" name="BasicHttpsBinding_IMonitoringProfileService" />
    </client>
  </system.serviceModel>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="48"/>
    </connectionManagement>
  </system.net>
  <appSettings>
    <add key="RMS.OverrideProxy" value="false" />
    <!-- INTERNAL ENVIRONMENT -->
    <!---->
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Centralize.Website\Logs\ErrorLog.txt" />
    <add key="RMS.WebServicURL_ActionProfileService" value="https://esn-nb01/RMS.Centralize.WebService/ActionProfileService.svc" />
    <add key="RMS.WebServicURL_MessageActionService" value="https://esn-nb01/RMS.Centralize.WebService/MessageActionService.svc" />
    <add key="RMS.WebServicURL_ClientService" value="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc" />
    <add key="RMS.WebServicURL_MonitoringService" value="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc" />
    <add key="RMS.WebServicURL_SummaryReportService" value="https://esn-nb01/RMS.Centralize.WebService/SummaryReportService.svc" />
    <add key="RMS.WebServicURL_SelfTestingService" value="https://esn-nb01/RMS.Centralize.WebService/SelfTestingService.svc" />
    <add key="RMS.WebServicURL_LocationService" value="https://esn-nb01/RMS.Centralize.WebService/LocationService.svc" />
    <add key="RMS.WebServicURL_ClientMonitoringService" value="https://esn-nb01/RMS.Centralize.WebService/ClientMonitoringService.svc" />
    <add key="RMS.WebServicURL_MonitoringProfileService" value="https://esn-nb01/RMS.Centralize.WebService/MonitoringProfileService.svc" />

    <!-- DEV ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Centralize.Website\Logs\ErrorLog.txt" />
    <add key="RMS.WebServicURL_ActionProfileService" value="https://win-utqdntsbmhj/RMS.Centralize.WebService/ActionProfileService.svc" />
    <add key="RMS.WebServicURL_MessageActionService" value="https://win-utqdntsbmhj/RMS.Centralize.WebService/MessageActionService.svc" />
    <add key="RMS.WebServicURL_ClientService" value="https://win-utqdntsbmhj/RMS.Centralize.WebService/ClientService.svc" />
    <add key="RMS.WebServicURL_MonitoringService" value="https://win-utqdntsbmhj/RMS.Centralize.WebService/MonitoringService.svc" />
    <add key="RMS.WebServicURL_SummaryReportService" value="https://win-utqdntsbmhj/RMS.Centralize.WebService/SummaryReportService.svc" />
    <add key="RMS.WebServicURL_SelfTestingService" value="https://win-utqdntsbmhj/RMS.Centralize.WebService/SelfTestingService.svc" />
    <add key="RMS.WebServicURL_LocationService" value="https://win-utqdntsbmhj/RMS.Centralize.WebService/LocationService.svc" />
    <add key="RMS.WebServicURL_ClientMonitoringService" value="https://win-utqdntsbmhj/RMS.Centralize.WebService/ClientMonitoringService.svc" />
    <add key="RMS.WebServicURL_MonitoringProfileService" value="https://win-utqdntsbmhj/RMS.Centralize.WebService/MonitoringProfileService.svc" />
    -->
    <!-- TEST ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Centralize.Website\Logs\ErrorLog.txt" />
    <add key="RMS.WebServicURL_ActionProfileService" value="https://test-sksgw.ais.co.th/RMS.Centralize.WebService/ActionProfileService.svc" />
    <add key="RMS.WebServicURL_MessageActionService" value="https://test-sksgw.ais.co.th/RMS.Centralize.WebService/MessageActionService.svc" />
    <add key="RMS.WebServicURL_ClientService" value="https://test-sksgw.ais.co.th/RMS.Centralize.WebService/ClientService.svc" />
    <add key="RMS.WebServicURL_MonitoringService" value="https://test-sksgw.ais.co.th/RMS.Centralize.WebService/MonitoringService.svc" />
    <add key="RMS.WebServicURL_SummaryReportService" value="https://test-sksgw.ais.co.th/RMS.Centralize.WebService/SummaryReportService.svc" />
    <add key="RMS.WebServicURL_SelfTestingService" value="https://test-sksgw.ais.co.th/RMS.Centralize.WebService/SelfTestingService.svc" />
    <add key="RMS.WebServicURL_LocationService" value="https://test-sksgw.ais.co.th/RMS.Centralize.WebService/LocationService.svc" />
    <add key="RMS.WebServicURL_ClientMonitoringService" value="https://test-sksgw.ais.co.th/RMS.Centralize.WebService/ClientMonitoringService.svc" />
    <add key="RMS.WebServicURL_MonitoringProfileService" value="https://test-sksgw.ais.co.th/RMS.Centralize.WebService/MonitoringProfileService.svc" />
    -->
    <!-- PRODUCTION ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Centralize.Website\Logs\ErrorLog.txt" />
    <add key="RMS.WebServicURL_ActionProfileService" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/ActionProfileService.svc" />
    <add key="RMS.WebServicURL_MessageActionService" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/MessageActionService.svc" />
    <add key="RMS.WebServicURL_ClientService" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/ClientService.svc" />
    <add key="RMS.WebServicURL_MonitoringService" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/MonitoringService.svc" />
    <add key="RMS.WebServicURL_SummaryReportService" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/SummaryReportService.svc" />
    <add key="RMS.WebServicURL_SelfTestingService" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/SelfTestingService.svc" />
    <add key="RMS.WebServicURL_LocationService" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/LocationService.svc" />
    <add key="RMS.WebServicURL_ClientMonitoringService" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/ClientMonitoringService.svc" />
    <add key="RMS.WebServicURL_MonitoringProfileService" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/MonitoringProfileService.svc" />
    -->
  </appSettings>
</configuration>