<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
        <sessionState mode="StateServer" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IActionProfileService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IMessageActionService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IClientService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IMonitoringService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ISummaryReportService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/RMS.Centralize.WebService/ActionProfileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActionProfileService" contract="ActionProfileProxy.IActionProfileService" name="BasicHttpBinding_IActionProfileService" />
      <endpoint address="http://localhost/RMS.Centralize.WebService/MessageActionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessageActionService" contract="MessageActionProxy.IMessageActionService" name="BasicHttpBinding_IMessageActionService" />
      <endpoint address="http://localhost/RMS.Centralize.WebService/ClientService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientService" contract="ClientProxy.IClientService" name="BasicHttpBinding_IClientService" />
      <endpoint address="http://localhost/RMS.Centralize.WebService/MonitoringService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonitoringService" contract="MonitoringProxy.IMonitoringService" name="BasicHttpBinding_IMonitoringService" />
      <endpoint address="http://localhost/RMS.Centralize.WebService/SummaryReportService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISummaryReportService" contract="SummaryReportProxy.ISummaryReportService" name="BasicHttpBinding_ISummaryReportService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="isOverrideProxy" value="false" />
    <add key="WebServicURL_ActionProfileService" value="http://localhost/RMS.Centralize.WebService/ActionProfileService.svc" />
    <add key="WebServicURL_MessageActionService" value="http://localhost/RMS.Centralize.WebService/MessageActionService.svc" />
    <add key="WebServicURL_ClientService" value="http://localhost/RMS.Centralize.WebService/ClientService.svc" />
    <add key="WebServicURL_MonitoringService" value="http://localhost/RMS.Centralize.WebService/MonitoringService.svc" />
    <add key="WebServicURL_SummaryReportService" value="http://localhost/RMS.Centralize.WebService/SummaryReportService.svc" />
  </appSettings>
</configuration>