<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientService" />
                <binding name="BasicHttpBinding_IMonitoringService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/RMS.Centralize.WebService/ClientService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientService"
                contract="ClientProxy.IClientService" name="BasicHttpBinding_IClientService" />
            <endpoint address="http://localhost/RMS.Centralize.WebService/MonitoringService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonitoringService"
                contract="MonitoringProxy.IMonitoringService" name="BasicHttpBinding_IMonitoringService" />
        </client>
    </system.serviceModel>
</configuration>
