<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IActionProfileService" />
                <binding name="BasicHttpBinding_IMessageActionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/RMS.Centralize.WebService/ActionProfileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActionProfileService"
                contract="ActionProfileProxy.IActionProfileService" name="BasicHttpBinding_IActionProfileService" />
            <endpoint address="http://localhost/RMS.Centralize.WebService/MessageActionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessageActionService"
                contract="MessageActionProxy.IMessageActionService" name="BasicHttpBinding_IMessageActionService" />
        </client>
    </system.serviceModel>
</configuration>