<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IActionProfileService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IClientService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IMessageActionService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IMonitoringService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_ISelfTestingService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_ISummaryReportService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IActionProfileService" />
                <binding name="BasicHttpBinding_IClientService" />
                <binding name="BasicHttpBinding_IMessageActionService" />
                <binding name="BasicHttpBinding_IMonitoringService" />
                <binding name="BasicHttpBinding_ISelfTestingService" />
                <binding name="BasicHttpBinding_ILocationService" />
                <binding name="BasicHttpsBinding_ILocationService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IClientMonitoringService" />
                <binding name="BasicHttpsBinding_IClientMonitoringService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IMonitoringProfileService" />
                <binding name="BasicHttpsBinding_IMonitoringProfileService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISeverityLevelService" />
                <binding name="BasicHttpsBinding_ISeverityLevelService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IMasterTableService" />
                <binding name="BasicHttpsBinding_IMasterTableService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IWebsiteMonitoringService" />
                <binding name="BasicHttpsBinding_IWebsiteMonitoringService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISummaryReportService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://esn-nb01/RMS.Centralize.WebService/ActionProfileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActionProfileService"
                contract="ActionProfileProxy.IActionProfileService" name="BasicHttpBinding_IActionProfileService" />
            <endpoint address="https://esn-nb01/RMS.Centralize.WebService/ActionProfileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IActionProfileService"
                contract="ActionProfileProxy.IActionProfileService" name="BasicHttpsBinding_IActionProfileService" />
            <endpoint address="http://esn-nb01/RMS.Centralize.WebService/ClientService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientService"
                contract="ClientProxy.IClientService" name="BasicHttpBinding_IClientService" />
            <endpoint address="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IClientService"
                contract="ClientProxy.IClientService" name="BasicHttpsBinding_IClientService" />
            <endpoint address="http://esn-nb01/RMS.Centralize.WebService/MessageActionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessageActionService"
                contract="MessageActionProxy.IMessageActionService" name="BasicHttpBinding_IMessageActionService" />
            <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MessageActionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMessageActionService"
                contract="MessageActionProxy.IMessageActionService" name="BasicHttpsBinding_IMessageActionService" />
            <endpoint address="http://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonitoringService"
                contract="MonitoringProxy.IMonitoringService" name="BasicHttpBinding_IMonitoringService" />
            <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMonitoringService"
                contract="MonitoringProxy.IMonitoringService" name="BasicHttpsBinding_IMonitoringService" />
            <endpoint address="http://esn-nb01/RMS.Centralize.WebService/SelfTestingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISelfTestingService"
                contract="SelfTestingProxy.ISelfTestingService" name="BasicHttpBinding_ISelfTestingService" />
            <endpoint address="https://esn-nb01/RMS.Centralize.WebService/SelfTestingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ISelfTestingService"
                contract="SelfTestingProxy.ISelfTestingService" name="BasicHttpsBinding_ISelfTestingService" />
            <endpoint address="http://esn-nb01/RMS.Centralize.WebService/LocationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILocationService"
                contract="LocationProxy.ILocationService" name="BasicHttpBinding_ILocationService" />
            <endpoint address="https://esn-nb01/RMS.Centralize.WebService/LocationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILocationService"
                contract="LocationProxy.ILocationService" name="BasicHttpsBinding_ILocationService" />
            <endpoint address="http://esn-nb01/RMS.Centralize.WebService/ClientMonitoringService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientMonitoringService"
                contract="ClientMonitoringProxy.IClientMonitoringService"
                name="BasicHttpBinding_IClientMonitoringService" />
            <endpoint address="https://esn-nb01/RMS.Centralize.WebService/ClientMonitoringService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IClientMonitoringService"
                contract="ClientMonitoringProxy.IClientMonitoringService"
                name="BasicHttpsBinding_IClientMonitoringService" />
            <endpoint address="http://esn-nb01/RMS.Centralize.WebService/MonitoringProfileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonitoringProfileService"
                contract="MonitoringProfileProxy.IMonitoringProfileService"
                name="BasicHttpBinding_IMonitoringProfileService" />
            <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MonitoringProfileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMonitoringProfileService"
                contract="MonitoringProfileProxy.IMonitoringProfileService"
                name="BasicHttpsBinding_IMonitoringProfileService" />
            <endpoint address="http://esn-nb01/RMS.Centralize.WebService/SeverityLevelService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeverityLevelService"
                contract="SeverityLevelProxy.ISeverityLevelService" name="BasicHttpBinding_ISeverityLevelService" />
            <endpoint address="https://esn-nb01/RMS.Centralize.WebService/SeverityLevelService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ISeverityLevelService"
                contract="SeverityLevelProxy.ISeverityLevelService" name="BasicHttpsBinding_ISeverityLevelService" />
            <endpoint address="http://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterTableService"
                contract="MasterTableProxy.IMasterTableService" name="BasicHttpBinding_IMasterTableService" />
            <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMasterTableService"
                contract="MasterTableProxy.IMasterTableService" name="BasicHttpsBinding_IMasterTableService" />
            <endpoint address="http://esn-nb01/RMS.Centralize.WebService/WebsiteMonitoringService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebsiteMonitoringService"
                contract="WebsiteMonitoringProxy.IWebsiteMonitoringService"
                name="BasicHttpBinding_IWebsiteMonitoringService" />
            <endpoint address="https://esn-nb01/RMS.Centralize.WebService/WebsiteMonitoringService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IWebsiteMonitoringService"
                contract="WebsiteMonitoringProxy.IWebsiteMonitoringService"
                name="BasicHttpsBinding_IWebsiteMonitoringService" />
            <endpoint address="http://esn-nb01/RMS.Centralize.WebService/SummaryReportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISummaryReportService"
                contract="SummaryReportProxy.ISummaryReportService" name="BasicHttpBinding_ISummaryReportService" />
            <endpoint address="https://esn-nb01/RMS.Centralize.WebService/SummaryReportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ISummaryReportService"
                contract="SummaryReportProxy.ISummaryReportService" name="BasicHttpsBinding_ISummaryReportService" />
        </client>
    </system.serviceModel>
</configuration>