<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

    <!-- INTERNAL ENVIRONMENT -->
    <!---->

    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.Watchdog\Logs\ErrorLog.txt"/>
    <add key="RMS.AGENT_FILE_PATH" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WPF\bin\Debug\RMS.Agent.WPF.exe"/>
    <add key="RMS.AGENT_PROCESS_NAME" value="RMS.Agent.WPF"/>
    <add key="RMS.BIZ_APP_PROCESS_NAME" value="notepad"/>
    <add key="RMS.OUT_OF_SERVICE_FILE_PATH" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.OutOfServiceApp\bin\Debug\RMS.Agent.OutOfServiceApp.exe"/>
    <add key="RMS.OUT_OF_SERVICE_PROCESS_NAME" value="RMS.Agent.OutOfServiceApp"/>
    <add key="RMS.MA_FILE_PATH" value="D:\Project\ESN\01 Remote Monitoring System\RMS\ma.txt"/>
    <add key="RMS.AUTO_UPDATE_PROCESS_NAME" value="ESN.AutoUpdate"/>
    <add key="RMS.AutoUpdate.DownloadURL" value="https://esn-nb01/RMS.Centralize.WebService/Autoupdate/RMS.Agent.Watchdog/"/>
    <add key="RMS.AutoUpdate.VersionFileNameOnServer" value="UPDATE.txt"/>
    <add key="RMS.WebServicURL_AutoUpdateService" value="https://esn-nb01/RMS.Centralize.WebService/AutoUpdateService.svc"/>
    

    <!-- DEV ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="C:\App\RMS\RMS.Agent.Watchdog\Logs\ErrorLog.txt"/>
    <add key="RMS.AGENT_FILE_PATH" value="C:\App\RMS\RMS.Agent.WPF\RMS.Agent.WPF.exe"/>
    <add key="RMS.AGENT_PROCESS_NAME" value="RMS.Agent.WPF"/>
    <add key="RMS.BIZ_APP_PROCESS_NAME" value="ServiceKiosk"/>
    <add key="RMS.OUT_OF_SERVICE_FILE_PATH" value="C:\App\RMS\RMS.Agent.OutOfServiceApp\RMS.Agent.OutOfServiceApp.exe"/>
    <add key="RMS.OUT_OF_SERVICE_PROCESS_NAME" value="RMS.Agent.OutOfServiceApp"/>
    <add key="RMS.MA_FILE_PATH" value="C:\App\RMS\ma.txt"/>
    <add key="RMS.AUTO_UPDATE_PROCESS_NAME" value="ESN.AutoUpdate"/>
    <add key="RMS.AutoUpdate.DownloadURL" value="https://esn-nb01/RMS.Centralize.WebService/Autoupdate/RMS.Agent.Watchdog/"/>
    <add key="RMS.AutoUpdate.VersionFileNameOnServer" value="UPDATE.txt"/>
    <add key="RMS.WebServicURL_AutoUpdateService" value="https://esn-nb01/RMS.Centralize.WebService/AutoUpdateService.svc"/>
    -->

    <!-- TEST ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="C:\App\RMS\RMS.Agent.Watchdog\Logs\ErrorLog.txt"/>
    <add key="RMS.AGENT_FILE_PATH" value="C:\App\RMS\RMS.Agent.WPF\RMS.Agent.WPF.exe"/>
    <add key="RMS.AGENT_PROCESS_NAME" value="RMS.Agent.WPF"/>
    <add key="RMS.BIZ_APP_PROCESS_NAME" value="ServiceKiosk"/>
    <add key="RMS.OUT_OF_SERVICE_FILE_PATH" value="C:\App\RMS\RMS.Agent.OutOfServiceApp\RMS.Agent.OutOfServiceApp.exe"/>
    <add key="RMS.OUT_OF_SERVICE_PROCESS_NAME" value="RMS.Agent.OutOfServiceApp"/>
    <add key="RMS.MA_FILE_PATH" value="C:\App\RMS\ma.txt"/>
    <add key="RMS.AUTO_UPDATE_PROCESS_NAME" value="ESN.AutoUpdate"/>
    <add key="RMS.AutoUpdate.DownloadURL" value="https://esn-nb01/RMS.Centralize.WebService/Autoupdate/RMS.Agent.Watchdog/"/>
    <add key="RMS.AutoUpdate.VersionFileNameOnServer" value="UPDATE.txt"/>
    <add key="RMS.WebServicURL_AutoUpdateService" value="https://esn-nb01/RMS.Centralize.WebService/AutoUpdateService.svc"/>
    -->

    <!-- PRODUCTION ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="D:\Log\RMS.Agent.Watchdog\Logs\ErrorLog.txt"/>
    <add key="RMS.AGENT_FILE_PATH" value="D:\App\RMS.Agent.WPF\RMS.Agent.WPF.exe"/>
    <add key="RMS.AGENT_PROCESS_NAME" value="RMS.Agent.WPF"/>
    <add key="RMS.BIZ_APP_PROCESS_NAME" value="ServiceKiosk"/>
    <add key="RMS.OUT_OF_SERVICE_FILE_PATH" value="D:\App\RMS.Agent.OutOfServiceApp\RMS.Agent.OutOfServiceApp.exe"/>
    <add key="RMS.OUT_OF_SERVICE_PROCESS_NAME" value="RMS.Agent.OutOfServiceApp"/>
    <add key="RMS.MA_FILE_PATH" value="D:\Program\ma.txt"/>
    <add key="RMS.AUTO_UPDATE_PROCESS_NAME" value="ESN.AutoUpdate"/>
    <add key="RMS.AutoUpdate.DownloadURL" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/Autoupdate/RMS.Agent.Watchdog/"/>
    <add key="RMS.AutoUpdate.VersionFileNameOnServer" value="UPDATE.txt"/>
    <add key="RMS.WebServicURL_AutoUpdateService" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/AutoUpdateService.svc"/>
    -->

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IAutoUpdateService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/AutoUpdateService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAutoUpdateService"
        contract="AutoUpdateProxy.IAutoUpdateService" name="BasicHttpsBinding_IAutoUpdateService" />
    </client>
  </system.serviceModel>

</configuration>