<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="AGENT_FILE_PATH" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WPF\bin\Debug\RMS.Agent.WPF.exe"/>
    <add key="AGENT_PROCESS_NAME" value="RMS.Agent.WPF"/>
    <add key="BIZ_APP_PROCESS_NAME" value="notepad"/>
    <add key="OUT_OF_SERVICE_FILE_PATH" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.OutOfServiceApp\bin\Debug\RMS.Agent.OutOfServiceApp.exe"/>
    <add key="OUT_OF_SERVICE_PROCESS_NAME" value="RMS.Agent.OutOfServiceApp"/>

    <add key="MA_FILE_PATH" value="D:\Project\ESN\01 Remote Monitoring System\RMS\ma.txt"/>
  </appSettings>
</configuration>