<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="isOverrideProxy" value="false"/>
    <add key="WebServicURL_ActionProfileService" value="http://localhost/RMS.Centralize.WebService/ActionProfileService.svc"/>
    <add key="WebServicURL_MessageActionService" value="http://localhost/RMS.Centralize.WebService/MessageActionService.svc"/>
    <add key="WebServicURL_ClientService" value="http://localhost/RMS.Centralize.WebService/ClientService.svc"/>
    <add key="WebServicURL_MonitoringService" value="http://localhost/RMS.Centralize.WebService/MonitoringService.svc"/>
    
    <add key="MA_FILE_PATH" value="D:\Project\ESN\01 Remote Monitoring System\RMS\ma.txt"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IClientService" />
        <binding name="BasicHttpBinding_IMonitoringService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/RMS.Centralize.WebService/ClientService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientService"
          contract="ClientProxy.IClientService" name="BasicHttpBinding_IClientService" />
      <endpoint address="http://localhost/RMS.Centralize.WebService/MonitoringService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonitoringService"
          contract="MonitoringProxy.IMonitoringService" name="BasicHttpBinding_IMonitoringService" />
    </client>
  </system.serviceModel>
</configuration>