<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- INTERNAL ENVIRONMENT -->
    <!---->

    <add key="RMS.DebugLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WPF\Logs\DebugLog.txt"/>
    <add key="RMS.DebugLogEnable" value="true"/>
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WPF\Logs\ErrorLog.txt"/>
    <add key="RMS.MessageStorageFolder" value="D:\Project\ESN\01 Remote Monitoring System\RMS\MessageStorage\"/>
    <add key="RMS.OverrideProxy" value="false"/>
    <add key="RMS.WebServicURL_ActionProfileService" value="https://esn-nb01/RMS.Centralize.WebService/ActionProfileService.svc"/>
    <add key="RMS.WebServicURL_MessageActionService" value="https://esn-nb01/RMS.Centralize.WebService/MessageActionService.svc"/>
    <add key="RMS.WebServicURL_ClientService" value="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc"/>
    <add key="RMS.WebServicURL_MonitoringService" value="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"/>
    <add key="RMS.MA_FILE_PATH" value="D:\Project\ESN\01 Remote Monitoring System\RMS\ma.txt"/>
    <add key="RMS.LOCAL_IP" value="0.0.0.0:8081"/>
    <add key="CLIENT_CODE" value="SKSAQAC01"/>

    <!-- DEV ENVIRONMENT -->
    <!--
    <add key="RMS.DebugLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WPF\Logs\DebugLog.txt"/>
    <add key="RMS.DebugLogEnable" value="true"/>
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WPF\Logs\ErrorLog.txt"/>
    <add key="RMS.MessageStorageFolder" value="D:\Project\ESN\01 Remote Monitoring System\RMS\MessageStorage\"/>
    <add key="RMS.OverrideProxy" value="false"/>
    <add key="RMS.WebServicURL_ActionProfileService" value="https://esn-nb01/RMS.Centralize.WebService/ActionProfileService.svc"/>
    <add key="RMS.WebServicURL_MessageActionService" value="https://esn-nb01/RMS.Centralize.WebService/MessageActionService.svc"/>
    <add key="RMS.WebServicURL_ClientService" value="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc"/>
    <add key="RMS.WebServicURL_MonitoringService" value="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"/>
    <add key="RMS.MA_FILE_PATH" value="D:\Project\ESN\01 Remote Monitoring System\RMS\ma.txt"/>
    <add key="RMS.LOCAL_IP" value="0.0.0.0:8081"/>
    <add key="CLIENT_CODE" value="SKSAQAC01"/>
    -->
    <!-- TEST ENVIRONMENT -->
    <!--
    <add key="RMS.DebugLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WPF\Logs\DebugLog.txt"/>
    <add key="RMS.DebugLogEnable" value="true"/>
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WPF\Logs\ErrorLog.txt"/>
    <add key="RMS.MessageStorageFolder" value="D:\Project\ESN\01 Remote Monitoring System\RMS\MessageStorage\"/>
    <add key="RMS.OverrideProxy" value="false"/>
    <add key="RMS.WebServicURL_ActionProfileService" value="https://esn-nb01/RMS.Centralize.WebService/ActionProfileService.svc"/>
    <add key="RMS.WebServicURL_MessageActionService" value="https://esn-nb01/RMS.Centralize.WebService/MessageActionService.svc"/>
    <add key="RMS.WebServicURL_ClientService" value="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc"/>
    <add key="RMS.WebServicURL_MonitoringService" value="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"/>
    <add key="RMS.MA_FILE_PATH" value="D:\Project\ESN\01 Remote Monitoring System\RMS\ma.txt"/>
    <add key="RMS.LOCAL_IP" value="0.0.0.0:8081"/>
    <add key="CLIENT_CODE" value="SKSAQAC01"/>
    -->
    <!-- PRODUCTION ENVIRONMENT -->
    <!--
    <add key="RMS.DebugLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WPF\Logs\DebugLog.txt"/>
    <add key="RMS.DebugLogEnable" value="true"/>
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WPF\Logs\ErrorLog.txt"/>
    <add key="RMS.MessageStorageFolder" value="D:\Project\ESN\01 Remote Monitoring System\RMS\MessageStorage\"/>
    <add key="RMS.OverrideProxy" value="false"/>
    <add key="RMS.WebServicURL_ActionProfileService" value="https://esn-nb01/RMS.Centralize.WebService/ActionProfileService.svc"/>
    <add key="RMS.WebServicURL_MessageActionService" value="https://esn-nb01/RMS.Centralize.WebService/MessageActionService.svc"/>
    <add key="RMS.WebServicURL_ClientService" value="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc"/>
    <add key="RMS.WebServicURL_MonitoringService" value="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"/>
    <add key="RMS.MA_FILE_PATH" value="D:\Project\ESN\01 Remote Monitoring System\RMS\ma.txt"/>
    <add key="RMS.LOCAL_IP" value="0.0.0.0:8081"/>
    <add key="CLIENT_CODE" value="SKSAQAC01"/>
    -->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IClientService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IMonitoringService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IClientService"
          contract="ClientProxy.IClientService" name="BasicHttpsBinding_IClientService" />
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMonitoringService"
          contract="MonitoringProxy.IMonitoringService" name="BasicHttpsBinding_IMonitoringService" />
    </client>
  </system.serviceModel>
</configuration>