<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- INTERNAL ENVIRONMENT-->
    <!---->
    <add name="MyDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=DEV_Monitoring;User ID=sa;PWD=password;;Application Name=MyApp" />
    <add name="MyDbContext3" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.45.132;Initial Catalog=service_kiosk;User ID=servicekiosk;PWD=password;;Application Name=MyApp" />
    <add name="MyDbContext2" providerName="System.Data.SqlClient" connectionString="Data Source=10.239.37.115;Initial Catalog=service_kiosk;User ID=kioskadmin;PWD=1234;;Application Name=MyApp" />
    <add name="MyDbContext_vtm_production" providerName="System.Data.SqlClient" connectionString="Data Source=10.1.225.86;Initial Catalog=service_kiosk_vtm;User ID=VTMAdmin;PWD=Password#1;;Application Name=MyApp" />

    <!-- DEV ENVIRONMENT-->
    <!--
    <add name="MyDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=10.239.37.115;Initial Catalog=service_kiosk;User ID=kioskadmin;PWD=1234;;Application Name=MyApp" />
    -->
    <!-- TEST ENVIRONMENT-->
    <!--
    <add name="MyDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=10.252.164.76Initial Catalog=service_kiosk;User ID=sa;PWD=password;;Application Name=MyApp" />
    -->
    <!-- PRODUCTION ENVIRONMENT-->
    <!--
    <add name="MyDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=10.13.178.47;Initial Catalog=DEV_Monitoring;User ID=sa;PWD=password;;Application Name=MyApp" />
    -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" minFreeThreads="152" minLocalRequestFreeThreads="152" />
    <sessionState mode="StateServer" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <services>
      <service name="RMS.Centralize.WebService.WebEngineService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="secureWebBinding" contract="RMS.Centralize.WebService.IWebEngineService" behaviorConfiguration="webBehavior"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAgentService"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00"/>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IMonitoringService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="secureHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpsBinding>
      <webHttpBinding>
        <binding name="secureWebBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8081/AgentNetTcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAgentService" contract="AgentTCPProxy.IAgentService"
        name="NetTcpBinding_IAgentService">
        <identity>
          <userPrincipalName value="ESN-NB01\sethawat.th" />
        </identity>
      </endpoint>
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMonitoringService"
        contract="MonitoringProxy.IMonitoringService" name="BasicHttpsBinding_IMonitoringService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="48"/>
    </connectionManagement>
  </system.net>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <!-- START AIS.SKS -->
    <add key="SKAdapter.SMSGW.URL" value="http://10.217.83.125:2288" />
    <add key="SKAdapter.SMSGW.CODE" value="CALLBACK" />
    <add key="SKAdapter.SMSGW.ServiceTimeoutMilliseconds" value="10000" />
    <add key="SKAdapter.SMSGW.Sender" value="SKS" />
    <add key="SKAdapter.SMSGW.TestReceiver" value="0860506900" />

    <add key="SKAdapter.Email.Server" value="10.252.160.41" />
    <add key="SKAdapter.Email.Port" value="25" />
    <add key="SKAdapter.Email.SSL" value="False" />
    <add key="SKAdapter.Email.FromAddress" value="sks@corp.ais900dev.org" />
    <add key="SKAdapter.Email.FromName" value="AIS Service Kiosk System" />
    <add key="SKAdapter.Email.ServiceTimeoutMilliseconds" value="10000" />
    <add key="SKAdapter.Email.TestReceiver" value="satht471@corp.ais900dev.org" />
    <!-- END AIS.SKS -->

    <!-- START VTM.KTB -->
    <add key="ESN.SMTP.Server" value="smtp.ktbcs.co.th" />
    <add key="ESN.SMTP.Port" value="25" />
    <add key="ESN.SMTP.From" value="ktbcs.test@ktbcs.co.th" />
    <add key="ESN.SMTP.EnableSSL" value="false" />
    <add key="ESN.SMTP.EnableCredentials" value="true" />
    <add key="ESN.SMTP.Username" value="ktbcs.test@ktbcs.co.th" />
    <add key="ESN.SMTP.Password" value="Youkajima$123" />

    <add key="RMS.KTB.SMS.ChannelID" value="49" />
    <add key="RMS.KTB.SMS.ReferenceNo" value="12345" />
    <add key="RMS.KTB.SMS.From" value="" />
    <add key="RMS.KTB.SMS.Sender" value="KTB" />
    <add key="RMS.KTB.SMS.WebServicURL" value="https://10.2.92.223/MMUI/SOAP/" />
    <!-- END VTM.KTB -->

    <!-- INTERNAL ENVIRONMENT -->
    <!---->

    <add key="RMS.DebugLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Centralize.WebService\Logs\DebugLog.txt"/>
    <add key="RMS.DebugLogEnable" value="true"/>
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Centralize.WebService\Logs\ErrorLog.txt"/>
    <add key="RMS.LicenseLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Centralize.WebService\Logs\LicenseLog.txt"/>
    <add key="RMS.OverrideProxy" value="false"/>
    <add key="RMS.NetTcpBinding_AgentService" value="net.tcp://client_ip_address:8081/AgentNetTcp"/>
    <add key="RMS.WebServicURL_MonitoringService" value="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"/>
    <add key="RMS.SummaryStatusAllClientsTemplateURL" value="https://esn-nb01/RMS.Centralize.WebService/Email/SummaryStatusAllClients.aspx"/>
    <add key="RMS.ActionModeTest" value="true"/>
    <add key="RMS.LicenseFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Centralize.WebService\rms.lic"/>
    <add key="RMS.LicenseCompanyCode" value="AIS"/>

    <!-- DEV ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Centralize.WebService\Logs\ErrorLog.txt"/>
    <add key="RMS.LicenseLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Centralize.WebService\Logs\LicenseLog.txt"/>
    <add key="RMS.OverrideProxy" value="false"/>
    <add key="RMS.NetTcpBinding_AgentService" value="net.tcp://client_ip_address:8081/AgentNetTcp"/>
    <add key="RMS.WebServicURL_MonitoringService" value="https://dev-sksgw.ais.co.th/RMS.Centralize.WebService/MonitoringService.svc"/>
    <add key="RMS.ActionModeTest" value="false"/>
    <add key="RMS.LicenseFile" value="D:\App\RMS\RMS Gateway Service\rms.lic"/>

		<add key="SKAdapter.SMSGW.URL" value="http://10.217.83.125:2288" />
		<add key="SKAdapter.SMSGW.CODE" value="CALLBACK" />
		<add key="SKAdapter.SMSGW.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.SMSGW.Sender" value="SKS" />
		<add key="SKAdapter.SMSGW.TestReceiver" value="0860506900" />

		<add key="SKAdapter.Email.Server" value="10.252.160.41" />
		<add key="SKAdapter.Email.Port" value="25" />
		<add key="SKAdapter.Email.SSL" value="False" />
		<add key="SKAdapter.Email.FromAddress" value="sks@corp.ais900dev.org" />
		<add key="SKAdapter.Email.FromName" value="AIS Service Kiosk System" />
		<add key="SKAdapter.Email.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.Email.TestReceiver" value="satht471@corp.ais900dev.org" />
    -->

    <!-- TEST ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Centralize.WebService\Logs\ErrorLog.txt"/>
    <add key="RMS.LicenseLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Centralize.WebService\Logs\LicenseLog.txt"/>
    <add key="RMS.OverrideProxy" value="false"/>
    <add key="RMS.NetTcpBinding_AgentService" value="net.tcp://client_ip_address:8081/AgentNetTcp"/>
    <add key="RMS.WebServicURL_MonitoringService" value="https://test-sksgw.ais.co.th/RMS.Centralize.WebService/MonitoringService.svc"/>
    <add key="RMS.ActionModeTest" value="false"/>
    <add key="RMS.LicenseFile" value="D:\App\RMS\RMS Gateway Service\rms.lic"/>

		<add key="SKAdapter.SMSGW.URL" value="http://10.217.83.125:2288" />
		<add key="SKAdapter.SMSGW.CODE" value="CALLBACK" />
		<add key="SKAdapter.SMSGW.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.SMSGW.Sender" value="SKS" />
		<add key="SKAdapter.SMSGW.TestReceiver" value="0860506900" />

		<add key="SKAdapter.Email.Server" value="10.252.160.41" />
		<add key="SKAdapter.Email.Port" value="25" />
		<add key="SKAdapter.Email.SSL" value="False" />
		<add key="SKAdapter.Email.FromAddress" value="sks@corp.ais900dev.org" />
		<add key="SKAdapter.Email.FromName" value="AIS Service Kiosk System" />
		<add key="SKAdapter.Email.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.Email.TestReceiver" value="satht471@corp.ais900dev.org" />
    -->

    <!-- PRODUCTION ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Centralize.WebService\Logs\ErrorLog.txt"/>
    <add key="RMS.LicenseLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Centralize.WebService\Logs\LicenseLog.txt"/>
    <add key="RMS.OverrideProxy" value="false"/>
    <add key="RMS.NetTcpBinding_AgentService" value="net.tcp://client_ip_address:8081/AgentNetTcp"/>
    <add key="RMS.WebServicURL_MonitoringService" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/MonitoringService.svc"/>
    <add key="RMS.ActionModeTest" value="false"/>
    <add key="RMS.LicenseFile" value="D:\App\RMS\RMS Gateway Service"/>

		<add key="SKAdapter.SMSGW.URL" value="http://10.217.82.10:2288" />
		<add key="SKAdapter.SMSGW.CODE" value="CALLBACK" />
		<add key="SKAdapter.SMSGW.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.SMSGW.Sender" value="SKS" />
		<add key="SKAdapter.SMSGW.TestReceiver" value="0860506900" />

		<add key="SKAdapter.Email.Server" value="10.13.201.23" />
		<add key="SKAdapter.Email.Port" value="25" />
		<add key="SKAdapter.Email.SSL" value="False" />
		<add key="SKAdapter.Email.FromAddress" value="sks@corp.ais900dev.org" />
		<add key="SKAdapter.Email.FromName" value="AIS Service Kiosk System" />
		<add key="SKAdapter.Email.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.Email.TestReceiver" value="satht471@corp.ais900dev.org" />
    -->


  </appSettings>

</configuration>