<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

		<!-- DEV ENVIRONMENT -->

		<add key="SKAdapter.Tuxedo.URL" value="http://10.252.54.24:7100/KIOSK/Proxy_Services/A_GetCCCustInfo" />
		<add key="SKAdapter.Tuxedo.URL_PP" value="http://10.252.54.24:7100/KIOSK/Proxy_Services/A_GetPPSmtCrd" />
		<add key="SKAdapter.Tuxedo.Username" value="kioskuser" />
		<add key="SKAdapter.Tuxedo.Password" value="Kiosk#Test" />
		<add key="SKAdapter.Tuxedo.ServiceTimeoutMilliseconds" value="30000" />
		<add key="SKAdapter.Tuxedo.ServiceMaxRetry" value="2" />

		<add key="SKAdapter.SFF.URL" value="http://10.13.181.45:8303/SFFWebService/SFFService" />
		<add key="SKAdapter.SFF.ServiceTimeoutMilliseconds" value="30000" />
		<add key="SKAdapter.SFF.CreateOrderTimeoutMilliseconds" value="60000" />
		<add key="SKAdapter.SFF.ServiceMaxRetry" value="2" />
		<add key="SKAdapter.SFF.CheckOrderFirstWaitSeconds" value="3" />
		<add key="SKAdapter.SFF.CheckOrderIntervalSeconds" value="3" />
		<add key="SKAdapter.SFF.CheckOrderTimeoutSeconds" value="3600" />

		<add key="SKAdapter.SSO.URL" value="http://10.240.1.101:7201/EmployeeServiceWebServiceV2/EmployeeServiceWebServiceV2.jws" />
		<add key="SKAdapter.SSO.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.SSO.ServiceMaxRetry" value="2" />

		<add key="SKAdapter.GSSO.URL" value="http://10.240.141.222:8080/GSSO-SSO/GssoSsoWeb" />
		<add key="SKAdapter.GSSO.ServiceName" value="ServiceKiosk" />
		<add key="SKAdapter.GSSO.OTP.Digit" value="4" />
		<add key="SKAdapter.GSSO.OTP.TimeoutMinutes" value="15" />
		<add key="SKAdapter.GSSO.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.GSSO.ServiceMaxRetry" value="2" />

		<add key="SKAdapter.SMSGW.URL" value="http://10.217.83.125:2288" />
		<add key="SKAdapter.SMSGW.CODE" value="CALLBACK" />
		<add key="SKAdapter.SMSGW.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.SMSGW.Sender" value="SKS" />
		<add key="SKAdapter.SMSGW.TestReceiver" value="0860506900" />

		<add key="SKAdapter.Email.Server" value="10.252.160.41" />
		<add key="SKAdapter.Email.Port" value="25" />
		<add key="SKAdapter.Email.SSL" value="False" />
		<add key="SKAdapter.Email.FromAddress" value="sks@corp.ais900dev.org" />
		<add key="SKAdapter.Email.FromName" value="AIS Service Kiosk System" />
		<add key="SKAdapter.Email.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.Email.TestReceiver" value="satht471@corp.ais900dev.org" />

		<add key="SKAdapter.SGSCP.URL" value="http://10.104.130.38:7030" />
		<add key="SKAdapter.SGSCP.SGW" value="kiosk01" />
		<add key="SKAdapter.SGSCP.ServiceTimeoutMilliseconds" value="10000" />

		<add key="SKAdapter.SIEBEL.URL" value="http://10.252.60.103/eai_sbtstrl/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;Username=SKSADMIN&amp;Password=Ais@02Feb" />
		<add key="SKAdapter.SIEBEL.ServiceTimeoutMilliseconds" value="10000" />

		<!-- STAGING ENVIRONMENT -->
		<!--

		<add key="SKAdapter.Tuxedo.URL" value="http://10.252.54.75:8100/KIOSK/Proxy_Services/A_GetCCCustInfo" />
		<add key="SKAdapter.Tuxedo.URL_PP" value="http://10.252.54.24:7300/KIOSK/Proxy_Services/A_GetPPSmtCrd" />
		<add key="SKAdapter.Tuxedo.Username" value="kioskuser" />
		<add key="SKAdapter.Tuxedo.Password" value="Kiosk#Test" />
		<add key="SKAdapter.Tuxedo.ServiceTimeoutMilliseconds" value="30000" />
		<add key="SKAdapter.Tuxedo.ServiceMaxRetry" value="2" />

		<add key="SKAdapter.SFF.URL" value="http://10.13.181.49:8303/SFFWebService/SFFService" />
		<add key="SKAdapter.SFF.ServiceTimeoutMilliseconds" value="30000" />
		<add key="SKAdapter.SFF.CreateOrderTimeoutMilliseconds" value="60000" />
		<add key="SKAdapter.SFF.ServiceMaxRetry" value="2" />
		<add key="SKAdapter.SFF.CheckOrderFirstWaitSeconds" value="3" />
		<add key="SKAdapter.SFF.CheckOrderIntervalSeconds" value="3" />
		<add key="SKAdapter.SFF.CheckOrderTimeoutSeconds" value="60" />

		<add key="SKAdapter.SSO.URL" value="http://10.240.1.101:7201/EmployeeServiceWebServiceV2/EmployeeServiceWebServiceV2.jws" />
		<add key="SKAdapter.SSO.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.SSO.ServiceMaxRetry" value="2" />

		<add key="SKAdapter.GSSO.URL" value="http://10.240.141.222:8080/GSSO-SSO/GssoSsoWeb" />
		<add key="SKAdapter.GSSO.ServiceName" value="ServiceKiosk" />
		<add key="SKAdapter.GSSO.OTP.Digit" value="4" />
		<add key="SKAdapter.GSSO.OTP.TimeoutMinutes" value="15" />
		<add key="SKAdapter.GSSO.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.GSSO.ServiceMaxRetry" value="2" />

		<add key="SKAdapter.SMSGW.URL" value="http://10.217.83.125:2288" />
		<add key="SKAdapter.SMSGW.CODE" value="CALLBACK" />
		<add key="SKAdapter.SMSGW.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.SMSGW.Sender" value="SKS" />
		<add key="SKAdapter.SMSGW.TestReceiver" value="0860506900" />

		<add key="SKAdapter.Email.Server" value="10.252.160.41" />
		<add key="SKAdapter.Email.Port" value="25" />
		<add key="SKAdapter.Email.SSL" value="False" />
		<add key="SKAdapter.Email.FromAddress" value="sks@corp.ais900dev.org" />
		<add key="SKAdapter.Email.FromName" value="AIS Service Kiosk System" />
		<add key="SKAdapter.Email.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.Email.TestReceiver" value="satht471@corp.ais900dev.org" />

		<add key="SKAdapter.SGSCP.URL" value="http://10.104.130.38:7030" />
		<add key="SKAdapter.SGSCP.SGW" value="kiosk01" />
		<add key="SKAdapter.SGSCP.ServiceTimeoutMilliseconds" value="10000" />

		<add key="SKAdapter.SIEBEL.URL" value="http://10.252.60.103/eai_sbtstrl/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;Username=SKSADMIN&amp;Password=Ais@02Feb" />
		<add key="SKAdapter.SIEBEL.ServiceTimeoutMilliseconds" value="10000" />

		-->

		<!-- PRODUCTION ENVIRONMENT -->
		<!--
		<add key="SKAdapter.Tuxedo.URL" value="http://10.251.60.21:80/KIOSK/Proxy_Services/A_GetCCCustInfo" />
		<add key="SKAdapter.Tuxedo.URL_PP" value="http://10.251.60.21:81/KIOSK/Proxy_Services/A_GetPPSmtCrd" />
		<add key="SKAdapter.Tuxedo.Username" value="kioskuser" />
		<add key="SKAdapter.Tuxedo.Password" value="KIOSK#app" />
		<add key="SKAdapter.Tuxedo.ServiceTimeoutMilliseconds" value="30000" />
		<add key="SKAdapter.Tuxedo.ServiceMaxRetry" value="2" />

		<add key="SKAdapter.SFF.URL" value="http://10.251.60.24:85/SFFWebService/SFFService" />
		<add key="SKAdapter.SFF.ServiceTimeoutMilliseconds" value="30000" />
		<add key="SKAdapter.SFF.CreateOrderTimeoutMilliseconds" value="60000" />
		<add key="SKAdapter.SFF.ServiceMaxRetry" value="2" />
		<add key="SKAdapter.SFF.CheckOrderFirstWaitSeconds" value="3" />
		<add key="SKAdapter.SFF.CheckOrderIntervalSeconds" value="3" />
		<add key="SKAdapter.SFF.CheckOrderTimeoutSeconds" value="60" />

		<add key="SKAdapter.SSO.URL" value="https://empws.ais.co.th/EmployeeServiceWebServiceV2/EmployeeServiceWebServiceV2.jws" />
		<add key="SKAdapter.SSO.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.SSO.ServiceMaxRetry" value="2" />

		<add key="SKAdapter.GSSO.URL" value="https://generateservices.ais.co.th/GSSO-SSO/GssoSsoWeb" />
		<add key="SKAdapter.GSSO.ServiceName" value="ServiceKiosk" />
		<add key="SKAdapter.GSSO.OTP.Digit" value="4" />
		<add key="SKAdapter.GSSO.OTP.TimeoutMinutes" value="15" />
		<add key="SKAdapter.GSSO.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.GSSO.ServiceMaxRetry" value="2" />

		<add key="SKAdapter.SMSGW.URL" value="http://10.217.82.10:2288" />
		<add key="SKAdapter.SMSGW.CODE" value="CALLBACK" />
		<add key="SKAdapter.SMSGW.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.SMSGW.Sender" value="SKS" />
		<add key="SKAdapter.SMSGW.TestReceiver" value="0860506900" />

		<add key="SKAdapter.Email.Server" value="10.13.201.23" />
		<add key="SKAdapter.Email.Port" value="25" />
		<add key="SKAdapter.Email.SSL" value="False" />
		<add key="SKAdapter.Email.FromAddress" value="sks@ais.co.th" />
		<add key="SKAdapter.Email.FromName" value="AIS Service Kiosk System" />
		<add key="SKAdapter.Email.ServiceTimeoutMilliseconds" value="10000" />
		<add key="SKAdapter.Email.TestReceiver" value="satht471@ais.co.th" />

		<add key="SKAdapter.SGSCP.URL" value="http://10.104.130.38:5030" />
		<add key="SKAdapter.SGSCP.SGW" value="kiosk01" />
		<add key="SKAdapter.SGSCP.ServiceTimeoutMilliseconds" value="10000" />

		<add key="SKAdapter.SIEBEL.URL" value="http://172.16.252.162/eai/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;Username=SKSADMIN&amp;Password=FY!x#ySUIgtQ" />
		<add key="SKAdapter.SIEBEL.ServiceTimeoutMilliseconds" value="10000" />

		-->
	</appSettings>
</configuration>