<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MobileMKTAdaptorSoap" >
          <security mode="Transport" />
        </binding>
        </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/MMUI/SOAP" binding="basicHttpBinding"
          bindingConfiguration="MobileMKTAdaptorSoap" contract="MobileMKTAdaptorSoap"
          name="NewPort" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="RMS.WebServicURL_KTBMobileMKTAdaptor" value="https://esn-nb01/RMS.Centralize.WebService/MessageActionService.svc" />
  </appSettings>
</configuration>