<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MobileMKTAdaptorSoap" >
          <security mode="Transport" />
        </binding>
        </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/MMUI/SOAP" binding="basicHttpBinding"
          bindingConfiguration="MobileMKTAdaptorSoap" contract="MobileMKTAdaptorSoap"
          name="NewPort" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="RMS.KTB.SMS.ChannelID" value="49" />
    <add key="RMS.KTB.SMS.ReferenceNo" value="12345" />
    <add key="RMS.KTB.SMS.From" value="" />
    <add key="RMS.KTB.SMS.Sender" value="KTB" />
    <add key="RMS.KTB.SMS.WebServicURL" value="https://10.2.92.223/MMUI/SOAP/" />

  </appSettings>
</configuration>