<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="BindingReliableMessaging">
          <reliableSession enabled="true" />
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IClientService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IMonitoringService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IClientService"
          contract="ClientProxy.IClientService" name="BasicHttpsBinding_IClientService" />
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMonitoringService"
          contract="MonitoringProxy.IMonitoringService" name="BasicHttpsBinding_IMonitoringService" />
    </client>
    <services>
      <service behaviorConfiguration="ServiceBehaviorMetaData" name="RMS.Agent.WCF.AgentService">
        <endpoint address="agent/basic" binding="basicHttpBinding" contract="RMS.Agent.WCF.IAgentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="agent/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="agent/wsAddress" binding="wsHttpBinding" bindingConfiguration="BindingReliableMessaging"
          contract="RMS.Agent.WCF.IAgentService" />
        <endpoint address="net.tcp://localhost:8081/AgentNetTcp" binding="netTcpBinding"
          bindingConfiguration="" contract="RMS.Agent.WCF.IAgentService" />
        <endpoint address="net.tcp://localhost:8081/MyEndpointMex" binding="mexTcpBinding"
          bindingConfiguration="" name="MyEndpointMex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
            <add baseAddress="net.tcp://localhost:8081" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AgentService.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="ServiceBehaviorMetaData">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/agent/metadata" />
        </behavior>
        <behavior name="NewBehavior0">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- INTERNAL ENVIRONMENT -->
    <!---->
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WCF\Logs\ErrorLog.txt"/>

    <!-- DEV ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WCF\Logs\ErrorLog.txt"/>
    -->
    <!-- TEST ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WCF\Logs\ErrorLog.txt"/>
    -->
    <!-- PRODUCTION ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.WCF\Logs\ErrorLog.txt"/>
    -->
  </appSettings>
</configuration>