<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

    <!-- INTERNAL ENVIRONMENT -->
    <!---->
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.OutOfServiceApp\Logs\ErrorLog.txt"/>
    <add key="RMS.MAFilePath" value="D:\Project\ESN\01 Remote Monitoring System\RMS\ma.txt"/>
    <add key="RMS.CursorVisible" value="true"/>
    <add key="RMS.AUTO_UPDATE_PROCESS_NAME" value="ESN.AutoUpdate"/>
    <add key="ESN.AutoUpdate.DownloadURL" value="https://esn-nb01/RMS.Centralize.WebService/Autoupdate/RMS.Agent.OutOfServiceApp/"/>
    <add key="ESN.AutoUpdate.VersionFileNameOnServer" value="UPDATE.txt"/>
    <add key="RMS.WebServicURL_AutoUpdateService" value="https://esn-nb01/RMS.Centralize.WebService/AutoUpdateService.svc"/>
    <add key="RMS.DelayAfterStartMainApp" value="1500"/>


    <!-- DEV ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="D:\Project\ESN\01 Remote Monitoring System\RMS\RMS.Agent.OutOfServiceApp\Logs\ErrorLog.txt"/>
    <add key="RMS.MAFilePath" value="C:\App\RMS\ma.txt"/>
    <add key="RMS.CursorVisible" value="true"/>
    <add key="RMS.AUTO_UPDATE_PROCESS_NAME" value="ESN.AutoUpdate"/>
    <add key="RMS.AutoUpdate.DownloadURL" value="https://esn-nb01/RMS.Centralize.WebService/Autoupdate/RMS.Agent.OutOfServiceApp/"/>
    <add key="RMS.AutoUpdate.VersionFileNameOnServer" value="UPDATE.txt"/>
    <add key="RMS.WebServicURL_AutoUpdateService" value="https://esn-nb01/RMS.Centralize.WebService/AutoUpdateService.svc"/>
    <add key="RMS.DelayAfterStartMainApp" value="1500"/>

    -->

    <!-- TEST ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="D:\Log\RMS.Agent.OutOfServiceApp\Logs\ErrorLog.txt"/>
    <add key="RMS.MAFilePath" value="C:\App\RMS\ma.txt"/>
    <add key="RMS.CursorVisible" value="false"/>
    <add key="RMS.AUTO_UPDATE_PROCESS_NAME" value="ESN.AutoUpdate"/>
    <add key="RMS.AutoUpdate.DownloadURL" value="https://esn-nb01/RMS.Centralize.WebService/Autoupdate/RMS.Agent.OutOfServiceApp/"/>
    <add key="RMS.AutoUpdate.VersionFileNameOnServer" value="UPDATE.txt"/>
    <add key="RMS.WebServicURL_AutoUpdateService" value="https://esn-nb01/RMS.Centralize.WebService/AutoUpdateService.svc"/>
    <add key="RMS.DelayAfterStartMainApp" value="1500"/>

    -->
  
    <!-- PRODUCTION ENVIRONMENT -->
    <!--
    <add key="RMS.ErrorLogFile" value="D:\Log\RMS.Agent.OutOfServiceApp\Logs\ErrorLog.txt"/>
    <add key="RMS.MAFilePath" value="D:\Program\ma.txt"/>
    <add key="RMS.CursorVisible" value="false"/>
    <add key="RMS.AUTO_UPDATE_PROCESS_NAME" value="ESN.AutoUpdate"/>
    <add key="RMS.AutoUpdate.DownloadURL" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/Autoupdate/RMS.Agent.OutOfServiceApp/"/>
    <add key="RMS.AutoUpdate.VersionFileNameOnServer" value="UPDATE.txt"/>
    <add key="RMS.WebServicURL_AutoUpdateService" value="https://sksgw.ais.co.th/RMS.Centralize.WebService/AutoUpdateService.svc"/>
    <add key="RMS.DelayAfterStartMainApp" value="1500"/>

    -->

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IAutoUpdateService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://esn-nb01/RMS.Centralize.WebService/AutoUpdateService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAutoUpdateService"
        contract="AutoUpdateProxy.IAutoUpdateService" name="BasicHttpsBinding_IAutoUpdateService" />
    </client>
  </system.serviceModel>
</configuration>