<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

    <!-- INTERNAL ENVIRONMENT -->
    <!---->
    <add key="RMS.MAFilePath" value="D:\Project\ESN\01 Remote Monitoring System\RMS\ma.txt"/>


    <!-- DEV ENVIRONMENT -->
    <!--
    <add key="RMS.MAFilePath" value="D:\Project\ESN\01 Remote Monitoring System\RMS\ma.txt"/>
    -->

    <!-- TEST ENVIRONMENT -->
    <!--
    <add key="RMS.MAFilePath" value="D:\Project\ESN\01 Remote Monitoring System\RMS\ma.txt"/>
    -->
  
    <!-- PRODUCTION ENVIRONMENT -->
    <!--
    <add key="RMS.MAFilePath" value="D:\Project\ESN\01 Remote Monitoring System\RMS\ma.txt"/>
    -->

  </appSettings>
</configuration>